.form {
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.form button {
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}

.form button:hover,
.form button:active {
    background-color: #641e03;
    border-color: #641e03;
}

.form label span {
    margin: 0 10px;
}

.form input {
    width: 3rem;
    padding: 0.2rem;
    margin: 0.5rem 0.2rem;
    font-weight: bold;
    border-radius: 0.4rem;
    border: 1px solid rgb(201, 196, 196);
}
