.nav ul {
    list-style: none;
    background-color: rgb(112, 19, 19);
    display: flex;
    width: auto;
    padding: 0.7rem 1rem;
    border-radius: 2rem;
    color: aliceblue;
}

.nav div {
    margin: 0 0.5rem;
    padding: 0.1rem 0.7rem;
    display: inline;
    color: white;
    border-radius: 0.5rem;
    background-color: rgb(175, 25, 25);
}

.nav i {
    margin: 0 0.3rem;
}
