.card {
    background-color: white;
    color: black;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    max-width: 75rem;
    width: 90%;

    padding: 10px;
    /* margin: auto; */
    position: relative;
    margin: auto;
    border-radius: 0.8rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}
